/**
 * Basic typography style for copy text
 */


html{
	font-size: 62.5%;
	// @media (max-width: 640px){
	// 	font-size: 50%;
	// }
}

body{
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed', sans-serif;
}